# Configurações do Servidor
PORT=3000
NODE_ENV=production

# Google Drive Configuration
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-service-account@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSua chave privada aqui\n-----END PRIVATE KEY-----"
GOOGLE_USER_EMAIL=usuario@reconectaoficial.com.br

# MinIO S3 Configuration (opcional)
MINIO_ENDPOINT=minios3.reconectaoficial.com
MINIO_PORT=443
MINIO_USE_SSL=true
MINIO_ACCESS_KEY=developers
MINIO_SECRET_KEY=sua_secret_key_aqui
MINIO_BUCKET_NAME=audio-processed 